html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $page-bg-color;
    color: $page-color;
}
body {
    overflow-y: scroll;

    @include large-screen {
        padding-top: $page-large-screen-top-padding
    }
}

.container {
    @include box-sizing(border-box);

    position: relative;
    margin: 0 auto;
    padding: 0 $container-side-padding;

    @include large-screen {
        width: $large-screen-breakpoint;
    }
}

header {
    @include background-image(linear-gradient(top, #222, #111));
    @include box-sizing(border-box);
    @include single-transition(all, 0.3s);
    @include transparent-box-shadow;
    @include text-shadow(rgba(0, 0, 0, 0.9) 1px 1px);

    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 0 0.5em;
    height: $header-height;
    line-height: $header-height;
    overflow: hidden;
    background-color: #222;
    border: 1px solid #252525;

    @include large-screen {
        @include border-radius($header-border-radius);

        padding: 0 1em;
        width: $large-screen-breakpoint;
    }

    a {
        @include single-transition(all, 0.2s);

        text-decoration: none;
        color: $header-color;

        &:hover {
            color: $header-color-hover;
        }
    }

    .home {
        float: left;
        font-weight: bold;
        margin-right: 2em;
        letter-spacing: 0.05em;
    }

    nav {

        display: none;

        @include large-screen {
            display: block;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            display: inline;
            float: left;
        }

        a {
            @include single-transition(all, 0.2s);

            display: block;
            padding: 0 1em;
            color: $header-color;

            &.active {
                color: $header-color-active;
                background-color: $header-bg-color-active;
            }
            &:hover {
                color: $header-color-hover;
                background-color: $header-bg-color-hover;
            }
        }
    }

    .user-actions {
        display: none;
        float: right;
        margin: 0;

        @include large-screen {
            @include inline-block;
        }
    }

    .menu {
        @include inline-block;

        font-size: 2em;
        float: right;
        padding: 0 0.5em;
        border-left: 1px solid #252525;
        color: $header-color;

        @include large-screen {
            display: none;
        }

        &:hover {
            color: $header-color-hover;
            background-color: $header-bg-color-hover;
        }
    }

}

.bottom-nav {

    ul {
        padding: 0;
    }
    li {
        @include background-image(linear-gradient(top, #222, #111));

        background-color: #222;
        border-bottom: 1px solid #252525;
    }
    a {
        @include box-sizing(border-box);
        @include single-transition(all, 0.3s);
        @include text-shadow(rgba(0, 0, 0, 0.9) 1px 1px);

        display: block;
        height: $header-height;
        line-height: $header-height;
        color: $header-color;
        padding: 0 0.5em;
        text-decoration: none;

        &.active {
            color: $header-color-active;
            background-color: $header-bg-color-active;
        }
        &:hover {
            color: $header-color-hover;
            background-color: $header-bg-color-hover;
        }

    }

    @include large-screen {
        display: none;
    }
}

.back-to-top {

    @include clearfix;

    a {
        color: #222;
        float: right;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    span {
        font-size: 1.4em;
    }
}

footer {
    padding: 0 0.5em;
    color: $footer-color;
    text-align: center;
    font-size: 0.8em;
}

@include large-screen {

    .content {
        width: $golden-ratio-large-screen-large - 1em;
    }

    aside {
        @include box-sizing(border-box);
        @include border-radius($aside-border-radius);
        @include single-transition(all, 0.5s);

        float: right;
        width: $golden-ratio-large-screen-small - 1em;
        margin-left: 2em;
        margin-right: -$container-side-padding;
        padding: 0 1em;
        border: 1px solid #eee;

        h1 {
            margin-top: 0.3em;
        }
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

dt {
    font-weight: bold;
}
dd {
    margin-left: 1em;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1em 0.5em 0.5em 0.5em;

    & > legend {
        margin-left: 2em;
    }
}

input {
    @include box-sizing(border-box);
    @include border-radius($input-border-radius);

    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    color: #555;

    -webkit-appearance: none; // Remove default inset shadow for iOS

    &.inline {
        width: auto;
        display: inline-block;
    }

    &[type=file] {
        padding: 0;
    }

    &:focus {
        @include single-transition(all, 0.3s);
        @include box-shadow(0 0 0.8em 0 rgba(0, 0, 255, 0.3));
    }
}

textarea {
    @include box-sizing(border-box);
    @include border-radius($input-border-radius);

    display: block;
    width: 100%;
    min-height: 10em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    color: #555;
    padding: 0.5em;

    &:focus {
        @include single-transition(all, 0.3s);
        @include box-shadow(0 0 0.8em 0 rgba(0, 0, 255, 0.3));
    }
}

select {
    display: block;
    margin: 0.5em 0;
}

button {
    @include inline-block;
    @include background-image(linear-gradient(top, #444, #111));
    @include border-radius($button-border-radius);
    @include text-shadow(rgba(0, 0, 0, 0.9) 1px 1px);

    color: #eee;
    background-color: #222;
    margin: 0;
    padding: 1em;
    border: 1px solid #333;

    .lsf {
        color: #eee;
    }
}
button:hover {
    background-image: none;
}

.file-listing {
    list-style: none;
    padding: 0;

    li {
        border-top: 1px solid #ccc;
    }

    a {
        display: block;
        padding: 1em 0.5em;
        color: $page-color;

        &:hover {
            text-decoration: none;
            background-color: #eee;

            .title {
                text-decoration: underline;
            }
        }
    }

    .title {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        margin: 0 0 0.5em 0;
    }
    .info {
        display: block;
        font-size: 0.8em;
        color: lighten($page-color, 20%);
    }
    .description {
        display: block;
        margin-top: 0.5em;
    }

    @include large-screen {

        .info-wrapper {
            display: block;
            @include clearfix;
        }
        .title {
            display: inline-block;
            float: left;
        }
        .info {
            display: inline-block;
            float: right;
        }
    }
}
