.login-form {

    $max-width: 24em;

    @include box-sizing(border-box);

    position: relative;
    margin: 0 auto;
    padding: 2em;
    max-width: $max-width;

    @media only screen and (min-width: $max-width) {
        @include transparent-box-shadow;

        margin-top: 1em;
    }

    @include large-screen {
        margin-top: 3em;
    }

    h2 {
        margin-top: 0;
    }
}
