.login-form {
    @include box-sizing(border-box);
    @include transparent-box-shadow;

    $max-width: 20em;

    position: relative;
    margin: 0 auto;
    padding: 2em;
    max-width: $max-width;

    @media only screen and (min-width: $max-width) {
        margin-top: 2em;
    }

    h2 {
        margin-top: 0;
    }
}