{% extends 'main.html' %}

{% block headtitle %}Tietoa{% endblock %}

{% block content %}

  <section id="">
    <div class="page-header">
      <h1>Yhtiö</h1>
    </div>

    <address>
      <strong>As. Oy Masalanpelto</strong><br>
      Hulluksentie 1 A 5<br>
      02430 Masala
    </address>

    <dl>
      <dt>Rakennustyyppi</dt>
      <dd>Rivitalo</dd>

      <dt>Rakennusvuosi</dt>
      <dd>1978</dd>

      <dt>Tilavuus</dt>
      <dd>6978 m<sup>3</sup></dd>

      <dt>Kerroksia</dt>
      <dd>2</dd>

      <dt>Kerrosala</dt>
      <dd>2409 m<sup>2</sup></dd>

      <dt>Huoneistoala</dt>
      <dd>2069 m<sup>2</sup></dd>

      <dt>Asuinhuoneistoja</dt>
      <dd>26</dd>

      <dt>Muut tilat</dt>
      <dd>Talopesula</dd>

      <dt>Autopaikkoja</dt>
      <dd>28</dd>
    </dl>

  </section>

  <section id="">
    <div class="page-header">
      <h1>Historiaa</h1>
    </div>
    <p>Hulluksentie on saanut nimensä alueella aikanaan sijainneesta kartanosta nimeltään Hullus. Myöhemmin kartano on tunnettu nimellä Framnäs.</p>

    <p>As oy Masalanpelto on rakennettu 1978. Maapohja on savea, niin kuin kukkapenkkiä kaivellessaan vieläkin helposti huomaa. Ensimmäisinä asukkaina yhtiöön muutti runsaasti nuoria lapsiperheitä, olihan yhtiö Aravalainalla pystyyn laitettu. Asukkaat harrastivat ahkerasti yhdessä kaikkea, mm. viljelyspalstat Kapteeninpolun päässä olivat suosittuja. Viljelyspalstat ovat kertoneet ja kertovat yhä mielenkiintoista tarinaa miehitysajalta (lokakuusta 1944 tammikuuhun 1956). Pellosta on kerrottu nousseen mm. hevosen luita, sukellusveneen periskoopin sekä sekalaisen määrän hylsyjä ja lasipulloja.</p>

    <p>Talkoissa oli reipasta ja innokasta porukkaa, ja juhlia osattiin myös silloin. Itkuhälyttimenä kuuluu toimineen auki jätetty puhelinlinja. Tarinat kertovat myös yön aikana paikkaa vaihtaneista lautaparketeista ja siitä kuinka rouva myi asuntonsa isännän ollessa ryyppyreissullaan.</p>
  </section>

  <section id="">
    <div class="page-header">
      <h1>Isännöinti</h1>
    </div>
    <p>Asunto-osakeyhtiö Masalanpellon isännöitsijänä toimii Pirjo Pernu PP-Tili ja isännöinti ky:stä.</p>

    <p>Toimisto on Masalan ostoskeskuksessa, osoitteessa Tinatie 2, 02430 Masala.</p>

    <p>Toimiston puhelin (09) 297 6085</p>

    <p>Käsipuhelin 0400 488 499</p>

    <p>Isännöitsijälle toimitetaan muuttoilmoitus, muutokset asukkaiden määrässä (syntymät, kuolemat, pois muutot).</p>

    <p>Isännöitsijän kautta tilataan huollot, avaimet yms.</p>
  </section>

{% endblock %}
