{% extends 'main.html' %}

{% block content %}

  <h1>Asiakirjat</h1>

  {% if showUploadLink %}
    <p><a href="/asiakirjat/uusi">Lisää uusi asiakirja</a></p>
  {% endif %}

  <ul class="file-listing">
    {% for file in files %}
      <li>
        <span class="title"><a href="/asiakirjat/{{ file.id }}">{{ file.name }}</a></span>

        <dl>
          <dt>Tila</dt>
          <dd>{{ file.status }}</dd>

          <dt>Näkyvyys</dt>
          <dd>{{ file.visibility }}</dd>

          <dt>Lisätty</dt>
          <dd>{{ file.dateAdded }}</dd>

          <dt>Lisääjä</dt>
          <dd>{{ file.addedBy }}</dd>

          <dt>Tyyppi</dt>
          <dd>{{ file.type }}</dd>

          <dt>Alkuperäinen tiedosto</dt>
          <dd>{{ file.originalName }}</dd>

          <dt>Koko</dt>
          <dd>{{ file.size|filesize }}</dd>
        </dl>

      </li>
    {% endfor %}
  </ul>

{% endblock %}
