{% extends 'main.html' %}

{% block content %}

  <h1>Asiakirjat</h1>

  {% if showUploadLink %}
    <p><a href="/asiakirjat/uusi"><span class="lsf">&#xe108;</span> Lisää uusi asiakirja</a></p>
  {% endif %}

  {% if files.length == 0 %}
    <p>Ei asiakirjoja.</p>
  {% elif files.length == 1 %}
    <p>1 asiakirja.</p>
  {% else %}
    <p>{{ files.length }} asiakirjaa.</p>
  {% endif %}

  <ul class="file-listing">
    {% for file in files %}
      <li>
        <a href="/asiakirjat/{{ file.id }}">
          <span class="info-wrapper">
            <span class="title">{{ file.name }}</span>
            <span class="info">
              <b>Lisätty:</b> {{ file.dateAdded|date('Y-m-d') }} <b>Näkyvyys:</b> {{ file.visibility }}
            </span>
          </span>
          <span class="description">{{ file.description }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
