<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!--

        |  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _   |
        | / Don't just stare at my source code, fork me on GitHub: \ |
        | \ https://github.com/kpuputti/masalanpelto               / |
        |  - - - - - - - - - - - - - - - - - - - - - - - - - - - -   |
        |         \   ^_ _^                                          |
        |          \  (o o)\_ _ _ _ _ _                              |
        |             (_ _)\           )\/\                          |
        |                  ||- - - -w |                              |
        |                  ||        ||                              |

        Also, don't forget /humans.txt

      -->

    <title>{% block headtitle %}{% endblock %} | Masalanpelto</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/dist/app.css">

    <!--[if lt IE 9]>
      <script src="/vendor/html5shiv-v3.6.2pre.js"></script>
    <![endif]-->
  </head>
  <body id="top" class="{% block bodyclasses %}{% endblock %}">

    {% block container %}{% endblock %}

    <script src="/dist/app.min.js"></script>
  </body>
</html>
