{% extends 'base.html' %}

{% block headtitle %}Kirjaudu sisään{% endblock %}
{% block bodyclasses %}page-login{% endblock %}

{% block container %}

  {% if loggedIn %}

    <p>Jo kirjautuneena tunnuksella {{ username }}.</p>
    <p><a href="/">Takaisin etusivulle</a></p>

  {% else %}

    <form class="login-form" action="/login" method="post">
      <h2>Kirjaudu sisään</h2>

      <input type="text" name="username" placeholder="Tunnus" tabindex="1" required autofocus>
      <input type="password" name="password" placeholder="Salasana" tabindex="2" required>

      <input type="hidden" name="_csrf" value="{{ _csrf }}">
      <button type="submit">Kirjaudu</button>
    </form>

  {% endif %}

{% endblock %}
