{% extends 'base.html' %}

{% block container %}

  <header>
    <a class="home" href="/">{{ siteTitle }}</a>

    <nav>
      <ul>
        {% for item in nav %}
          <li>
            <a class="{% if item.active %}active {% endif %}"
               href="{{ item.path }}">
               {{ item.name }}
             </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <a href="#menu" class="menu lsf" title="Menu">&#xe08e;</a>

    <p class="user-actions">
      {% if session.loggedIn %}
        {{ session.username }} | <a href="/kirjaudu-ulos">Kirjaudu ulos</a>
      {% else %}
        <a href="/kirjaudu-sisaan">Kirjaudu sisään</a>
      {% endif %}
    </p>

  </header>

  <div class="container">

    {% block content %}{% endblock %}

    <p class="back-to-top"><a href="#top">Takaisin ylös <span class="lsf">&#xe00e;</span></a></p>
  </div>

  <nav id="menu" class="bottom-nav">
    <ul>
      {% for item in nav %}
        <li>
          <a {% if item.active %}class="active"{% endif %}
             href="{{ item.path }}">{{ item.name }}</a>
        </li>
      {% endfor %}
      <li>
        {% if session.loggedIn %}
          <a href="/kirjaudu-ulos">Kirjaudu ulos</a>
        {% else %}
          <a href="/kirjaudu-sisaan">Kirjaudu sisään</a>
        {% endif %}
      </li>
    </ul>
  </nav>

  <hr>
  <footer>
    <p>{{ siteTitle }} | <a href="http://kpuputti.fi/" rel="author">Kimmo Puputti</a>, 2012</p>
  </footer>

{% endblock %}
