{% extends 'base.html' %}

{% block container %}

  <header>
    <a class="home" href="/">Masalanpelto</a>

    <nav>
      <ul>
        {% for item in nav %}
          <li>
            <a {% if item.active %}class="active"{% endif %}
               href="{{ item.path }}">{{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    <p class="user-actions">
      {% if loggedIn %}
        {{ username }} | <a href="/logout">Kirjaudu ulos</a>
      {% else %}
        <a href="/login">Kirjaudu sisään</a>
      {% endif %}
    </p>

  </header>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <hr>
  <footer>
    <p>Masalanpelto</p>
  </footer>

{% endblock %}
