{% extends 'base.html' %}

{% block container %}

  <header class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="/">Masalanpelto</a>

      <nav class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/tietoa">Tietoa</a></li>
        </ul>
      </nav>

      <p class="navbar-text pull-right user-actions">
        {% if loggedIn %}
          {{ username }} | <a href="/logout">Kirjaudu ulos</a>
        {% else %}
          <a href="/login">Kirjaudu sisään</a>
        {% endif %}
      </p>

    </div>
  </header>

  {% block content %}{% endblock %}

  <hr>
  <footer>
    <p>Masalanpelto</p>
  </footer>

{% endblock %}
